<h2 class="title2 heading">Search Results</h2>

<div class="search_results">
  <% data.filter(element=> element.media_type !== "person").forEach(element => { %>
  <div class="movie-container">
    <a href="/details/<%= element.media_type %>/<%= element.id %>">
      <div class="card">
        <div class="card-img">
          <% let imgSrc=element.poster_path ? 'https://image.tmdb.org/t/p/w500' +
          element.poster_path : '/images/dummy-image-portrait.jpg'; %> <% let
          altName=element.media_type==="tv" ? element.name : element.title; %>

          <img src="<%= imgSrc %>" alt="<%= altName %>" />
        </div>
      </div>

      <div class="movie-info bodytext">
        <p class="rating icon">
          <i data-lucide="star"></i>
          <span><%= element.vote_average?.toFixed(1) || element.vote_average %></span>
        </p>
        <div class="media-type">
          <% let lucideIcon=element.media_type==="tv" ? "tv" : "popcorn" %>
          <i data-lucide="<%= lucideIcon %>" alt="media icon"></i>
          <span><%= element.media_type==="tv" ? "Series" : "Film" %></span>
        </div>
        <% let title=element.media_type==="tv" ? element.name : element.title; %>
        <% let
          year=element.media_type==="tv" ? element.first_air_date?.split("-")[0] :
          element.release_date?.split("-")[0] || "nan" ; %>
        <h3 class="movie-title"><%= title %> (<%= year %>)</h3>
      </div>
    </a>
  </div>
  <% }) %>
</div>
